@import "variables.scss";

.card{
    background-color: $bg-secondary;
    text-align: center;
    height: 100%;
    img{
        padding: 15px;
    }
    .card-title{
        color: white;
        
    }
    .card-text{
            color:gray;
    }
    .card-body{
        p{
            margin-bottom: 2px;
        }
    }
}